p
{
	font-size:14px;
	font-weight: 400;
}
.section{ background-color: #f4f7fe; }
.btn{ background-color: #009688; }
.section .fa{ color:#5f2ee5; font-size: 33px;}
h5{ font-size: 17px; }
.section p{ font-size:12px;  color:#7a869a;}
p2{ color:#777777; }
h4{ font-size: 22px; }
.bg { background-color: #423d71; }
.bg .btn{ width:92%; }